p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  max-height: 320px;
  overflow-y: auto;
}
pre code {
  white-space: pre-wrap;
}
pre[class] {
  max-height: 320px;
}
.scroll-300 {
  max-height: 300px;
  overflow-y: auto;
  background-color: inherit;
}
